.aside .logo a::before{
	border-top:4px solid #ec1839;
	border-left:4px solid #ec1839;
}

.aside .logo a::after{
	border-bottom:4px solid #ec1839;
	border-right:4px solid #ec1839;
}

.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active{
	color: #ec1839;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-profil span,
.aside .nav-profil span::before,
.aside .nav-profil span::after{
	background-color: #ec1839;
}

.portfolio .portfolio-filter button.active{
	border-color: #ec1839;
}